# this dockerignore file is based on the work of Alper Citak (see https://medium.com/@alpercitak/nest-js-use-pnpm-on-docker-81998ab4d8a1)

.git
node_modules
docker-compose.yaml
Dockerfile
.prettierrc
.gitignore
.eslint.js
README.md
